* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  width: 1440px;
  margin: 0 auto;
  background-color: rgb(225, 212, 201);
}

.container {
  width: 1360px;
  margin: 0 auto;
}

.accent {
  color: rgb(176, 144, 122);
}

.header {
  width: 1440px;
  height: 60px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
.header .header-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1168px;
}
.header .header-list a {
  text-decoration: none;
  color: rgb(64, 63, 61);
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
}
.header .header-list li:not(:last-child) {
  margin-right: 40px;
}

.enjoy {
  border-radius: 40px;
  background-image: url(img/img-hero.png);
  height: 644px;
  padding: 100px;
  margin-bottom: 100px;
}
.enjoy .text_contain {
  width: 530px;
  height: 444px;
}
.enjoy .text_contain .heading1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  color: rgb(225, 212, 201);
}
.enjoy .text_contain .enjoy-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: rgb(225, 212, 201);
}
.enjoy .text_contain .menu_button {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  background-color: rgb(225, 212, 201);
  display: flex;
  align-items: center;
  justify-content: center;
}
.enjoy .text_contain .menu_button a {
  color: rgb(64, 63, 61);
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
}
.enjoy .text_contain .menu_button:hover {
  text-decoration: underline;
}

.Favourites-coffe {
  height: 799px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.Favourites-coffe h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: rgb(64, 63, 61);
}
.Favourites-coffe .Favourite-coffe__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1360px;
  height: 684px;
}
.Favourites-coffe .Favourite-coffe__slider .card {
  width: 480px;
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Favourites-coffe .Favourite-coffe__slider .card .card_title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: rgb(64, 63, 61);
}
.Favourites-coffe .Favourite-coffe__slider .card .card_description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: rgb(64, 63, 61);
}
.Favourites-coffe .Favourite-coffe__slider .card .card_price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: rgb(64, 63, 61);
}

.About {
  height: 1325px;
  width: 1360px;
  margin-bottom: 100px;
}
.About .img-box {
  width: 1360px;
  height: 1060px;
  display: flex;
}
.About .img-box :first-child {
  margin-bottom: 40px;
}
.About .img-box .column {
  margin-right: 40px;
}
.About .img-box .column-left {
  margin-right: 40px;
}
.About .img-box .big-img {
  width: 660px;
  height: 590px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.About .img-box .small-img {
  width: 660px;
  height: 430px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.About-text {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: rgb(64, 63, 61);
  margin-bottom: 40px;
  width: 1360px;
  height: 225px;
  overflow: hidden;
}
.About-text i {
  color: rgb(176, 144, 122);
}

.Mobile-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Mobile-app .Mobile-app__description {
  width: 630px;
  height: 342px;
}
.Mobile-app .Mobile-app__description .Mobile-app__Title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: rgb(64, 63, 61);
  margin-bottom: 40px;
}
.Mobile-app .Mobile-app__description .Mobile-app__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: rgb(64, 63, 61);
  margin-bottom: 40px;
}
.Mobile-app .Mobile-app__description .Mobile-app__buttons {
  width: 420px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Mobile-app .Mobile-app__description .Mobile-app__buttons .Mobile-app__button {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background-color: rgb(225, 212, 201);
}
.Mobile-app .Mobile-app__description .Mobile-app__buttons .Mobile-app__button .button__text {
  width: 78px;
  height: 40px;
  margin-left: 8px;
}
.Mobile-app .Mobile-app__description .Mobile-app__buttons .Mobile-app__button .button__description {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  color: rgb(64, 63, 61);
  margin-bottom: 2px;
}
.Mobile-app .Mobile-app__description .Mobile-app__buttons .Mobile-app__button .store {
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  color: rgb(64, 63, 61);
  white-space: nowrap;
}/*# sourceMappingURL=style.css.map */