*{
    font-family: 'Inter', sans-serif;
}
body{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: rgba(225, 212, 201, 1);
}
.container{
    width: 1360px;
    margin-left: auto;
    margin-right: auto;
    
}
.header{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.min-logo{
    width: 100px;
    height: 60px;
}
.header-list{
    display: flex;
    width: 1188px;
    justify-content: center;
    align-items: center;
    
    list-style: none;
}
.nav-link{
    text-decoration: none;
    margin-right: 40px;
}
.menu-item{
    height:28px;
    width: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_menu{
    
    font-weight: 600;
}










.enjoy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1360px;
    height: 644px;
    background-image: url(img/img-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    margin-bottom: 100px;
}
.text_contain{
    width: 530px;
    height: 444px;
    margin: 100px;
}
.menu_button{
    width: 200px;
    height: 64px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-link{
    text-decoration: none;
}


.Favourites-coffe{
    margin-bottom: 1000px;
    width: 1360px;
    height: 799px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Favourite-coffe_title{
    height: 75px;
}
.slider{
    width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card{
    width: 480px;
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.controls{
    width: 144px;
    height: 4px;
    display: flex;
    justify-content: space-between;
}
.control{
    width: 40px;
    height: 4px;
    border-radius: 100px;
}
.control:hover{
    background-color: rgba(102, 95, 85, 1);
}





































































.heading1{
    font-family: 'Inter', sans-serif;
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
}
.heading2{
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    font-weight: 600px;
    line-height: 125%;
}
.heading3{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}
.medium-font{
    font-family: 'Inter', sans-serif;
    font-size:16px;
    font-weight: 400;
    line-height: 150%;
}
.caption-font{
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
}
.links{
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}
.dark{
    color: rgba(64, 63, 61, 1);
}
.light{
    color: rgba(225, 212, 201, 1);
}
.accent{
    color: rgba(176, 144, 122, 1);
}

.bk_body{
    background-color: rgba(225, 212, 201, 1);
}
.bord_light{
    background-color: rgba(193, 182, 173, 1);
}
.bord_dark{
    background-color: rgba(102, 95, 85, 1);
}